<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="fediverse:creator" content="@spiralganglion@merveilles.town">

  <link rel="preload" href="https://cdn.ivy.boo/assets/sofia-pro-light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="shortcut icon" sizes="192x192" href="https://cdn.ivy.boo/assets/favicon-192.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss">
  <link rel="me" href="https://merveilles.town/@spiralganglion">
  <link rel="stylesheet" href="/styles.css">

  <script defer src="/scripts.js"></script>
  <script type="speculationrules"> { "prerender": [{ "where": { "href_matches": "/*" }, "eagerness": "eager" }] } </script>
  <script data-goatcounter="https://ivyboo.goatcounter.com/count" async fetchpriority="low" src="https://gc.zgo.at/count.js"></script>

</head>
<body>

  <header>
    <canvas class="js-stars"></canvas>
    <be-enticed>
      The <witty-quip></witty-quip> <a class="home-link" href="/">Ivy Reese</a>,
      <span>by <a href="/type">type</a> or <a href="/time">time</a>.</span>
    </be-enticed>
    <script>
      let choices = [
        "blood thirsty",
        "blood drinking",
        "blood sacrifice",
        "blood letting",
        "blood curdling",
        "blood, relative",
        "blood sucking",
        "blood drowning",
        "blood crystal",
        "blood feuding",
        "blood fluke",
        "blood heat",
        "blood meal",
        "blood moon",
        "blood poison",
        "blood pressure",
        "blood soaked",
        "blood sugar",
        "blood vessel",
        "blood work",
        "blood bath",
        "blood warm",
        "blood bird",
        "blood worm",
        "blood flower",
        "blood guilty",
        "blood less",
        "blood lust",
        "blood shot",
        "blood sick",
        "blood wit",
        "blood wood",
        "blood wort",
        "bloody hell",
      ]
      let choice = choices[Math.random() * choices.length | 0]
      document.querySelector("witty-quip").innerHTML = choice;
    </script>
  </header>

  {{content}}

</body>
</html>
