@font-face {
  font-display: block;
  font-family: "sofia pro light";
  src: url("https://cdn.ivy.boo/assets/sofia-pro-light.woff2");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --maxLineLength: 48em; /* changed from 56em for the sake of the journal — RIP? */
  --link-hover: hsl(329, 100%, 25%);
  --black: hsl(329, 100%, 21%);
}

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade-in 0.1s linear both;
}
